@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #3c7eff;
}

.container {
    max-width: 1200px;
    width: 1000px;
    margin: auto;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 6px;
    padding: 5px 15px;
    background-color: #3c7eff;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* Navigation */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

img.site-logo {
    width: auto;
    height: 20px;
}

.nav-container ul {
    display: flex;
    gap: 20px;
}

.nav-container ul a {
    color: #fff;
}

.login-links .sign-in {
    margin-right: 20px;
}

/* Header Section */
section.header-section {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-txt {
    width: 40%;
}

h1.hero-header{
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
}

p.hero-txt {
    color: rgba(255, 255, 255, .7);
    margin-bottom: 20px;
    font-size: 17px;
}

form.subscribe  input {
    width: 300px;
    padding: 10px 8px;
    border-radius: 3px;
    background-color: transparent;
    margin: 0 10px 20px 0;
}

form.subscribe button {
    padding: 10px 16px;
}

.header-img img {
    height: 600px;
}

/* Feature section */
.feature-container {
    padding: 50px 0;
    text-align: center;
}

.feature-container p {
    color: rgba(255, 255, 255, .7);
}

h3.feature-header, .pricing-header {
    font-size: 32px;
    margin-bottom: 15px;
    text-align: center;
}

p.feature-text {
    width: 400px;
    margin: auto;
    margin-bottom: 40px;
}

.feature-svg {
    fill: #3c7eff;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 290px;
}

.box h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

/* Pricing Section */
.pricing {
    padding: 50px 0;
}

.pricing p {
    color: rgba(255, 255, 255, .7);
}

.pricing-text {
    text-align: center;
    width: 450px;
    margin: auto;
    margin-bottom: 25px;
}

.inputs {
    text-align: center;
    margin-bottom: 35px;
}

.inputs label {
    font-weight: bold;
    margin-left: 10px;
}

.price-boxes {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.price-box {
    width: 350px;
    border-radius: 10px;
    padding: 15px;
    background: #1b1c1d;
}

.price-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.price-box ul {
    margin: 30px 0;
}

.price-box ul li {
    margin-bottom: 15px;
}

.price-box button {
    width: 100%;
    padding: 10px 13px;
}

.price-box .free-btn {
    background-color: #ffffff;
    color: #1b1c1d;
}

.pro-box {
    border: rgba(255, 255, 255, .7) solid 1px;
    background: none;
}

.pro-box i {
    color: #3c7eff;
}

/* Footer Section */
footer {
    margin-top: 70px !important;
}

footer p {
    color: rgba(255, 255, 255, .7);
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content .footer-box {
    width: 250px;
}

.footer-content .footer-box.products {
    width: 430px;
}

.footer-box.products  p {
    margin: 15px 0;
}

.footer-box.products button {
    padding: 15px;
}

.footer-box h5 {
    font-size: 20px;
    margin-bottom: 15px;
 }

 .footer-box li {
    margin-bottom: 10px;
 }

.footer-box li a {
    color: rgba(255, 255, 255, .9);
 }

.footer-box li a:hover {
    color: rgba(255, 255, 255, .7);
}

p.copyright {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 30px 0;
}